<div class="container" ng-controller=UserController>
  <form class="form-group">
    <tr>
      <td>
        <label  for="UserName">Nombre de usuario</label>
        <input class="form-control" type="text" placeholder="Nombre de usuario" ng-model="user.username">
      </td>
      <td>
        <label for="password">Contraseña</label>
        <input class="form-control" type="text" placeholder="Contraseña" ng-model="user.password">
      </td>
      <td>
        <button class="btn btn-info"type="button" ng-click="login()">Iniciar Sesion</button>
      </td>
    </tr>
  </form>
</div>
