extends layout

block content
 h1= title
 form(method='post')
  label Nombre
  input(type='text', name='name')
  label email
  input(type='text', name='email')
  label Password
  input(type='password', name='password')
  input(type='submit',value='Registrar')
 ul#emails
  each item in allusers
   li= item.name +" "+ item.id 
